<nav>
  <ul>
    <li>
      <a routerLink="/dashboard">
        <i class="material-icons">dashboard</i>
      </a>
    </li>
    <li>
      <a routerLink="/exercises">
        <i name="exercises" class="material-icons">landscape</i>
      </a>
    </li>
    <li>
      <a routerLink="/plans">
        <i name="plans" class="material-icons">list</i>
      </a>
    </li>
    <li>
      <a routerLink="/account">
        <i name="settings" class="material-icons">person</i>
      </a>
    </li>
  </ul>
</nav>