<div class="wrapper">
  <div class="header">
    <h1>My Exercises</h1>
  </div>
  <div class="content">
    <a *ngFor="let exercise of exercises" routerLink="/detail/{{exercise.id}}" class="nav-box-container">
      <div class="exercise-box">
        <div class="box-head">
          <span style="text-align: left">{{ exercise.name }}</span> 
          <span class="lgrey">{{ exercise.id }}</span>
        </div>  
        <div class="box-detail" *ngIf="exercise.freeExercise==false">
          <span>Training: {{ exercise.weight }}</span>
        </div>
      </div>
    </a>
  </div>
</div>
<!-- <app-messages *ngIf="appRouter.url !== '/login'" id="navigation"></app-messages> -->