body{
  margin: 0;
  padding: 0;
  font-size: 1em;
  background: #fff;
  color: beige;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

a {
  color: beige;
}

input {
  margin: 0;
  padding: 0;
  color: #333;
  border-radius: 0.3em;
  font-family: "Montserrat", "Helvetica", sans-serif;
}

.wrapper{
  padding: 1.2em;
  margin-bottom: 8em;
}

.header{
  display: flex; 
  justify-content: space-between;
  padding: 0;
  margin: 0.5em 0.5em 2em 0.5em;
}

.content {
  padding: 0;
  margin: 0.5em 0.5em 2em 0.5em;
}

#container {
  margin: 0 auto;
}

#navigation {
  background-color: #636363;
  position: fixed;
  bottom: 0;
  width: 100%;
}

h1{
  font-size: 1.8em;
  padding: 0;
  margin: 0;
}

h2{
  font-size: 1.5em;
  padding: 0;
  margin: 0;
}

ul, menu, dir {
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
  padding-inline-start: 0 !important;
}

span {
  font-size: 1em;
}

a {
  text-decoration: none;
  cursor: pointer;
}

i {
  font-style: normal;
}

.lgrey {
  color: #ccc;
}

.mgrey {
  color: #333;
}

.nav-box-container {
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-start;
}

.nav-box {
    display: inline-block;
    width: 5em;
    margin: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    border: 1px solid #eee;
    flex: auto;
}

.nav-box:hover, .exercise-box:hover {
    background-color: #fcfcfc;
    color: #333;
}

/* Exercises */
.exercise-box {
    display: inline-block;
    width: 5em;
    margin: 0.5em 0 0.5em 0;
    padding: 1em;
    border-radius: 0.5em;
    text-align: center;
    border: 1px solid #eee;
    flex: auto;
}

/* Exercise-Detail*/

.box-beige {
  border: 1px beige solid;
  border-radius: 0.5em;
  padding: 1em;
}

.box-head, .box-detail {
    display: flex;
    justify-content: space-between;
    flex: auto;
    flex-wrap: wrap;
}

.box-detail {
    margin-top: 0.8em;
}

.box-detail-head {
  display: flex;
  justify-content: space-between;
  color: rgba(245, 245, 220, 0.50);
  border-bottom: 0.02em solid rgba(245, 245, 220, 0.50);
  padding-bottom: 0.5em;
}

.detail-header{
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  background-color: transparent;
  border: none;
  color: beige;
  font-family: "Montserrat", "Helvetica", sans-serif;
  text-align: center;
}

// Backgrounds
.bg {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: fixed;
}

.bg1 {
    -webkit-clip-path: polygon(25% 0, 100% 20%, 100% 66%, 69% 100%, 0 100%, 0 0);
    clip-path: polygon(25% 0, 100% 20%, 100% 66%, 69% 100%, 0 100%, 0 0); 
    z-index: -1;
}

.bg2 {
    -webkit-clip-path: polygon(41% 0, 100% 5%, 100% 82%, 68% 100%, 0 100%, 0 0);
    clip-path: polygon(41% 0, 100% 5%, 100% 82%, 68% 100%, 0 100%, 0 0);
    z-index: -2;
}

.bg3 {
    z-index: -3;
}

.bg-lgrey {
    background-color: #3a3a3a;
}

.bg-mgrey {
    background-color: #333;
}

.bg-dgrey {
    background-color: #2f2f2f;
}

.bg-lgrey-light {
    background-color: #aaa;
}

.bg-mgrey-light {
    background-color: #888;
}

.bg-dgrey-light {
    background-color: #2f2f2f;
}


// Icons
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 1.5em;  /* 24px is preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
